<%- include('./partials/header'); %>

<div class="card col-12 mt-4">
  
  <div class="card-header">
    <h1 class="card-title col-12"><i class="fa-solid fa-cart-shopping mr-2"></i> Carrinho de compra <span class="text-right float-right my-0">produtos: <b><%= cartItems.count %></b></span></h1>
  </div>

  <div class="card-body col-12 p-0">

    <div class="row">

      <div class="col-12 m-0 p-0" style="border-bottom: 10px solid black;">

        <form class="m-0" id="filterTwo">

          <div class="input-group ">
            <input style="border-radius: 0;" type="text" class="form-control" id="text" placeholder="Digite o contedo da pesquisa." aria-label="Digite o conteúdo da pesquisa." aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button style="border-radius: 0;" class="btn btn-outline-secondary" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
  
          <label class="mt-4 ml-3">Tipo</label>
          <select class="form-control mb-0" id="type" style="border-radius: 0;">
            <option value="name">Nome</option>
            <option value="type">Tipo</option>
            <option value="price">Preço</option>
            <option value="expirationIn">Validade</option>
            <option value="lote">Lote</option>
            <option value="qtd">Quantidade</option>
          </select>
  
        </form>

      </div>

      <div class="col-6 m-0 p-0" style="border-right: 1px solid black;">
      

        <div id="result"></div>
      
      </div>



      <div class="col-6 p-0 m-0 float-right">

        <table class="table">
          <% let counter = 1 %>

          <tr class="tableHeader">
            <th>#</th>
            <th>nome</th>
            <th>qtd</th>
            <th>unit.</th>
            <th>total</th>
            <th>ações</th>
          </tr>
          
          
          
          
          <% cartItems.rows.forEach((productId) => { %>

            <tr class="tableRow">
              
              <td><%= counter %></td>
              <td>

                <% products.forEach((product) => { %>

                  <% if (product.id == productId.product) { %>

                    <%= product.name %>

                  <% } %>

                <% }) %>

              </td>
              <td><%= productId.qtd%></td>
              <td>

                <% products.forEach((product) => { %>

                  <% if (product.id == productId.product) { %>

                    R$<%= product.price %>

                  <% } %>

                <% }) %>

              </td>
              <td>

                <% products.forEach((product) => { %>

                  <% if (product.id == productId.product) { %>

                    R$<%= product.price * productId.qtd %>

                  <% } %>

                <% }) %>

              </td>

              <td>

                <center><form method="POST" action="/remove/<%= productId.id %>"><button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></form></center>

              </td>
            
            </tr>

            <% counter++ %>

          <% }); %>

         
      
        

        </table>

      </div>

    </div>

  </div>

  <div class="card-footer">
    
    <button type="button" class="btn btn-primary col-12" data-toggle="modal" data-target="#checkoutModal">Checkout</button>

  </div>

</div>

<!-- Large Modal -->
<div class="modal fade" id="checkoutModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><i class="fa-solid fa-cash-register mr-2"></i> Checkout</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <form class="form" method="POST" action="/checkout">

          <label for="cpf">CPF</label>
          <input name="cpf" type="text" class="form-control" id="cpf" placeholder="000.000.000-00">

          <label for="payment" class="mt-2">Forma de Pagamento *</label>
          <select name="payment" class="form-control" required  id="payment">

            <option value="0" selected>Escolha uma forma de pagamento</option>
            <option value="Débito/Crédito">Débito/Crédito</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Pix">Pix</option>

          </select>

          <div id="cardOpt" class="mt-2" hidden>

            <label for="cardLabel">Bandeira *</label>
            <select class="form-control" name="complement" required id="cardLabel">

              <option>Mastercard</option>
              <option>Elo</option>
              <option>Visa</option>
              <option>Cartão Clonado</option>

            </select>

          </div>

          <div id="moneyOpt" class="mt-2" hidden>

            <label for="moneyRecived">Valor pago *</label>
            <input required type="number" name="complement" class="form-control" id="moneyRecived" value="0" placeholder="100,00">

          </div>

          <% let tot = 0; %>

          <% cartItems.rows.forEach((itm) => { %>

            <% products.forEach((pdrct) => { %>

              <% if (pdrct.id == itm.product) { %>

                <% tot = tot + Number(pdrct.price) * Number(itm.qtd) %>

              <% } %>

            <% }); %>

          <% }); %>

          <div id="pixOpt" class="mt-2" hidden>

            

 
 
              <a target="_blank" href="/checkout-pix/<%= tot %>" type="submit" class="btn btn-primary col-12 mt-3"><i class="fa-solid fa-qrcode mr-2"></i> Gerar QR Code</a>

            
            

          </div>

          <div id="resultModal">

            <hr>

            <div style="display: flex; justify-content: space-between;">
            
            <h4 hidden id="trocoLabel">Troco: <b>R$<span id="trocoValue">00,00</span></b> </h4>
            <h4 id="total">Total: <b>R$ <span id="totall"><%= tot.toString().replace('.', ','); %></span></b></h4>

            </div>

          </div>

          <input type="text" id="totalInput" name="totalInput" value="<%= tot %>" hidden>
          <button type="submit" class="btn btn-success col-12 mt-3"><i class="fa-solid fa-cash-register mr-2"></i> Checkout</button>

        </form>


      </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
</div>
<!-- /.modal -->
<script src="./js/filterTwo.js"></script>
<script src="./js/payment.js"></script>

<%- include('./partials/footer'); %>
