<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/2716485b7f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/storage.css" />
    <title>EstoqueC4F3</title>
    <!-- <script type="module" src="../scripts/database.js"></script> -->
  </head>
  <body>
    <header>
      <section class="containerr">
        <div class="logo">
          <img
            src="./images/estoquec4.png"
            alt=""
            class="logo-img"
            width="200px"
          />
        </div>
        <div class="button">
          <h5>Bem vindo, <b><%= session.name %></b></h5>
          <button class="btnHeader">Vendas</button>
          <button class="btnHeader">Estoque</button>
          <button class="btnHeader">Caixa</button>
          <a href="/novo-produto" class="btnHeader">Novo Produto</a>
        </div>
      </section>
    </header>
    <main>
      <section class="filter">
        <form method="POST" action="/filter">
        <div class="containerFilter">
            <div class="inputSearch">
              <h3>Pesquisar</h3>
            <input type="text" name="filter" id="nameFilter" />
          </div>
          <div class="inputRadio">
            <div>
              <h3>Filtrar por:</h3>
            </div>
            <div class="radioSelect">
              <label for="filter"></label>
              <div class="divRadio">
                <input type="radio" name="filter" id="nome" value=1 checked />
                <h6>Nome</h6>
              </div>
              <div class="divRadio">
                <input type="radio" name="filter" id="tipo" value=2/>
                <h6>Tipo</h6>
              </div>
              <div class="divRadio">
                <input type="radio" name="filter" id="preco" value="price"/>
                <h6>Preço</h6>
              </div>
              <div class="divRadio">
                <input type="radio" name="filter" id="validade" value="expirationIn"/>
                <h6>Validade</h6>
              </div>
              <div class="divRadio">
                <input type="radio" name="filter" id="lote" value="lote"/>
                <h6>Lote</h6>
              </div>
            </div>
          </div>
          <div class="submitButton" style="max-width: 80px; width: 100%;">
            <button class="btn btn-primary" type="submit">Pesquisar</button>
          </div>
        </form>
        </div>
      </section>
      <section class="table-section">
        <table id="table">
          <tr class="tableHeader">
            <th>Nome</th>
            <th>Tipo</th>
            <th>Preco</th>
            <th>Validade</th>
            <th>Lote</th>
            <th>Quantidade</th>
          </tr>
          
          <% products.forEach((product) => { %>

            <tr class="tableRow">
              <td><%= product.name %></td>
              <td><%= product.type %></td>
              <td><%= product.price %></td>
              <td><%= product.expirationIn %></td>
              <td><%= product.lote %></td>
              <td><%= product.qtd %></td>
            </tr>

          <% }); %>

        </table>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
