<table class="table table-striped">
  <style>
    th, td,tr {
      border-spacing: 0;
      margin: 0;
    }
  </style>
  <tr class="tableHeader">
    <th>Name</th>
    <th>Preco</th>
    <th>Quantidade</th>
    <th>Ações</th>
  </tr>

  <% productsTwo.rows.forEach((product) => { %>

  <tr>
    <td><%= product.name %></td>
    <td>R$<%= product.price %></td>
    <td><%= product.qtd %></td>
    <td>
      <form method="POST" action="/cart/<%= product.id %>">
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            placeholder="Qtd"
            aria-label="Qtd"
            aria-describedby="basic-addon2"
            name="qtd"
            min="1"
            max="<%= product.qtd %>"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
              <i class="fa-solid fa-cart-plus"></i>
            </button>
            <style>
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            </style>
          </div>
        </div>
      </form>
    </td>
  </tr>

  <% }) %>
</table>
